<div class="container">
  <!-- first -->
  <div class="row" style="display: flex; justify-content: space-around; align-items: center;">
    
    <div class="col-lg-3 col-md-3 col-sm-12">
      <!-- <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Prathmesh Futane</h5>
          
        </div>
      </div> -->
    </div>

    <!-- second -->
    <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 20px;;">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Prathmesh Futane</h5>
          <div class="text-center">
            <i style="margin-left: 30px;" class=" text-center fa fa-user-plus fa-5x"></i>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>


<hr class="my-4">

<div class="container">
  <!-- first -->
  <div class="row" style="display: flex; justify-content: space-around; align-items: center;">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-danger text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-user fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light">Total Customer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- second -->
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-info text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-store fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light ">Total Retailer</button>
          </div>
        </div>
      </div>
    </div>
    <!-- third -->
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-primary text-white " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-list-alt  fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" routerLink="/admin-add-category">Add Category</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- first row end -->



  <!-- second row start -->

  <div class="row" style="margin-bottom: 20px; margin-top: 30px; display: flex; justify-content: space-around; align-items: center;">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-warning text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-image  fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light">Add Images to Carousel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body bg-success text-white">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-info-circle  fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" (click)="open(content)">Personal Information</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- personal information for admin popup -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-window-close fa-2x"></i>
    </button>
  </div>
  <div class="modal-body">
     <div class="content">
       <!-- This is your profile congratulation bro     -->
       <!-- Admin Personal Information: <br />
       Admin ID : {{ data.adminId }} <br />
       Name : {{ data.name }} <br />
       Email : {{ data.email }} <br />
       Mobile No : {{ data.mobileNumber }} <br /> -->
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

