<!-- Admin homepage -->

<!-- Author
     Muskaan P
     This is the homepage for Admin -->

<div class="container">
  <!-- first -->
  <div class="row" style="display: flex; justify-content: space-around; align-items: center;">
    
    <div class="col-lg-3 col-md-3 col-sm-12"></div>

    <!-- second -->
    <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 20px;;">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">{{adminName}}</h5>
          <div class="text-center">
            <i style="margin-left: 30px;" class=" text-center fa fa-user-plus fa-5x"></i>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>


<hr class="my-4">

<div class="container">
  <!-- first -->
  <div class="row" style="display: flex; justify-content: space-around; align-items: center;">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-danger text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-user fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" (click)="openTotalCustomer(customer)">Total Customer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- second -->
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-info text-white" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-store fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" (click)="openTotalRetailer(retailer)">Total Retailer</button>
          </div>
        </div>
      </div>
    </div>
    <!-- third -->
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card bg-primary text-white " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-list-alt  fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" routerLink="/admin-add-category">Add Category</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- first row end -->



  <!-- second row start -->

  <div class="row" style="margin-bottom: 20px; margin-top: 30px; display: flex; justify-content: space-around; align-items: center;">
    

    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body bg-success text-white">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-info-circle  fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" (click)="openProfile(content)">Personal Information</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-body bg-warning text-white">
          <h5 class="card-title text-center">
            <i  class=" text-center fa fa-info-circle  fa-5x"></i>
          </h5>
          <div class="container" style="text-align: center;">
            <button class="btn btn-outline-light" routerLink="/admin-approve-retailer">Approve Retailer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- personal information for admin popup -->
<ng-template #content let-modal >
  <div class="modal-header" style="width:100%">
    <h4 class="modal-title" id="modal-basic-title">Personal Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-window-close fa-2x"></i>
    </button>
  </div>
  <div class="modal-body">
     <div class="content">

     <!---  This is your profile congratulation    -->
      Admin Personal Information: <br />
       Admin ID : {{ admin['adminId'] }} <br />
       Name : {{ admin['name'] }} <br />
       Email : {{ admin['email'] }} <br />
       Mobile No : {{ admin['mobileNumber'] }} <br />
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>







<!-- Total number of customers popup -->
<ng-template #customer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="model-for-customer">Customer Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-window-close fa-2x"></i>
    </button>
  </div>
  <div class="modal-body">
     <div class="customer">

     <!---  This is total number of customers   -->
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Address1</th>
          <th>Address2</th>
          <th>Mobile Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of customerData">
          <td>{{info['name']}}</td>
          <td>{{info['email']}}</td>
          <td>{{info['address1']}}</td>
          <td>{{info['address2']}}</td>
          <td>{{info['mobileNumber']}}</td>
      </tbody>
    </table>

     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>






<!-- Total number of retailer popup -->
<ng-template #retailer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-for-retailer">Retailer Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <i class="fa fa-window-close fa-2x"></i>
    </button>
  </div>
  <div class="modal-body">
     <div class="retailer">

     <!---  This is total number of retailer   -->
     <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Email</th>
          
          <th>Revenue</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of retailerData">
          <td>{{info['ownerName']}}</td>
          <td>{{info['company']}}</td>
          <td>{{info['email']}}</td>
          
          <td>{{info['revenue']}}</td>
      </tbody>
    </table>
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
  </div>
</ng-template>











