
<!-- this is payment gateway -->

<!--  Author
      Jeshma M
      This is page for getting bank details from the user and to make payment -->


      <div class="container  form-box" style="width: 50%;">
        <div class="container" style="text-align:center; ">
          <h3>Getting the bank details for payment</h3>
        </div>
      
        <form (ngSubmit)="makePayment()">
      
          <!-- Field for card number -->

          <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input type="number" class="form-control" required id="cardNumber" name="cardNumber"
            [(ngModel)]="payment.cardNumber" #cardNumber="ngModel">
            <div *ngIf="cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)" class="alert alert-danger">
              <div *ngIf="cardNumber.errors.required">
                Card Number is required.
              </div>
            </div>
          </div>

          <!-- Field for Expiry Month -->

          <div class="form-group">
            <label for="expiryMonth">Expiry Month</label>
            <input type="number" class="form-control" required id="ExpiryMonth" name="expiryMonth"
            [(ngModel)]="payment.expiryMonth" #expiryMonth="ngModel">
            <div *ngIf="expiryMonth.invalid && (expiryMonth.dirty || expiryMonth.touched)" class="alert alert-danger">
              <div *ngIf="expiryMonth.errors.required">
                Expiry Month is required.
              </div>
            </div>
          </div>

          <!-- Field for Expiry Year -->

          <div class="form-group">
            <label for="expiryYear">Expiry Year</label>
            <input type="number" class="form-control" required id="ExpiryYear" name="expiryYear"
            [(ngModel)]="payment.expiryYear" #expiryYear="ngModel">
            <div *ngIf="expiryYear.invalid && (expiryYear.dirty || expiryYear.touched)" class="alert alert-danger">
              <div *ngIf="expiryYear.errors.required">
                Expiry Year is required.
              </div>
            </div>
          </div>

          <!-- Field for cvv -->

          <div class="form-group">
            <label for="cvv">CVV</label>
            <input type="number" class="form-control" required id="cvv" name="cvv"
            [(ngModel)]="payment.cvv" #cvv="ngModel">
            <div *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)" class="alert alert-danger">
              <div *ngIf="cvv.errors.required">
                Cvv is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="nameOnCard">Name on Card</label>
            <input type="text" class="form-control" required id="nameOnCard" name="nameOnCard"
            [(ngModel)]="payment.nameOnCard" #nameOnCard="ngModel">
            <div *ngIf="nameOnCard.invalid && (nameOnCard.dirty || nameOnCard.touched)" class="alert alert-danger">
              <div *ngIf="nameOnCard.errors.required">
                name on card is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="paymentMode">Payment Mode</label>
            <select class="form-select"  aria-label="Default select example" [(ngModel)]="payment.paymentMode" name="paymentMode" id="paymentMode" #paymentMode="ngModel">
              <option  value="Credit Card" selected>Credit Card</option>
              <option value="Debit Card">Debit Card</option>
            </select>
            
            <div *ngIf="paymentMode.invalid && (paymentMode.dirty || paymentMode.touched)" class="alert alert-danger">
              <div *ngIf="paymentMode.errors.required">
                payment mode is required.
              </div>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" (click)="makePayment()">Make Payment</button>
          <button type="reset" class="btn btn-danger m-3">Reset</button>
        </form>
      </div>
      
