<!-- Author
     Prathmesh Futane
     This is footer for homepage -->

<div class="footer">
    <div class="container">

        <div class="brand-logo display-6">
            webrash
        </div>
        
        <hr class="my-3">





        <!-- real footer -->

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-12">
                    <div  class="display-8" >Get to Know Us</div>
                    About Us <br>
                    Careers<br>
                    Press Releases<br>
                    
                    Gift a Smile<br>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12">
                    <div  class="display-8" >Connect With Us</div>
                    
                    Facebook <br>
                    Twitter <br>
                    Instagram <br>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12">
                    <div  class="display-8" >Project Team</div>
                    Muskaan Pansare <br>
                    Jeshma M <br>
                    Shreyash Mhashilkar <br>
                    Prathmesh Futane <br>
                </div>
            </div>
        </div>

        <!-- end footer -->










        <hr class="my-3">

        <div style="text-align: right;">
            &#169; Copyright Text 
            <a target="_blank" href="www.futane.tk" class="link">webrash</a>
        </div>

        <div class="links">
            <div class="retailer">
                <div  >
                    sell product on webrash
                    <button class="button btn-outline-light btn" routerLink="/retailer">Sign In</button>
                </div>
            </div>

            <div class="admin">
                <a routerLink="/admin">Admin</a>
            </div>
        </div>
    </div>
</div>


<!-- 
<div class="footer-custom has-background-black has-text-white">
    <div class="brand-name subtitle has-text-white">
        webrash
    </div>
    
    <div class="content " >
        <div class="" style="text-align: center;">
            sell product on webrash
            <button class="button btn-primary btn" routerLink="/retailer">Sign In</button>

        </div>
    <div>
        &#169; Copyright Text 
        <a target="_blank" href="www.futane.tk" class="link">Jack Tech</a>
    </div>

    <div style="text-align:right ; margin-bottom: -10px;" class="content"> 
        <a routerLink="/admin">admin</a>
    </div>

    

    <div class="footer-copyright footer-two">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">Jack Tech</a>
        </div>
    </div>
</div>
 -->
