<!-- Author
     Prathmesh Futane
     This is footer for homepage -->

<div class="footer">
    <div class="container">

        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div class="brand-logo" style="font-size: 25px;">
                webrash
            </div>

            <div>
                <a href="https://www.freecounterstat.com" title="free website counter"><img src="https://counter9.stat.ovh/private/freecounterstat.php?c=4f987qupy5xy345uh2ne49lfj3e6m3td" border="0" title="free website counter" alt="free website counter"></a>
            </div>
        </div>
        

        
        
        <hr class="my-3">
        <!-- real footer -->

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3 col-sm-12">
                    <div  class="display-8" >Get to Know Us</div>
                    About Us <br>
                    Careers<br>
                    Press Releases<br>
                    
                    Gift a Smile<br>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12">
                    <div  class="display-8" >Connect With Us</div>
                    
                    Facebook <br>
                    Twitter <br>
                    Instagram <br>
                </div>
                <div class="col-lg-4 col-md-3 col-sm-12">
                    <div  class="display-8" >Project Team</div>
                    Muskaan Pansare <br>
                    Jeshma M <br>
                    Shreyash Mhashilkar <br>
                    Prathmesh Futane <br>
                </div>
            </div>
        </div>

        <!-- end footer -->
        <hr class="my-3">

        <div style="text-align: right;">
            &#169; Copyright Text 
            <a target="_blank" href="www.futane.tk" class="link">webrash</a>
        </div>

        <div class="links">
            <div class="retailer">
                <div  >
                    sell product on webrash
                    <button class="button btn-outline-light btn" routerLink="/retailer">Sign In</button>
                </div>
            </div>

            <div class="admin">
                <a routerLink="/admin">Admin</a>
            </div>
        </div>
    </div>
</div>


