<div class='container-fluid' >  
  <div class="row" >  
  </div>  
  <div class='col-12' style="text-align: center;">  
      <ngb-carousel>  
          <ng-template ngbSlide >  
              <img src="../../assets/images/electronic.jpg" alt="electronic">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/electronics.jpg" alt="electronics">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/home appliances.jpg" alt="home appliances">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/kids.jpg" alt="kids">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/electronics sports.gif" alt="sports">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
      </ngb-carousel>  
  </div>  

</div> 