<div class='container-fluid'>  
  <div class="row" >  
  </div>  
  <div class='col-12' style="text-align: center;">  
      <ngb-carousel>  
          <ng-template ngbSlide >  
              <img src="https://cdn.pixabay.com/photo/2017/03/13/17/26/ecommerce-2140603__340.jpg" alt="Delhi Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="https://cdn.pixabay.com/photo/2018/07/18/13/05/ecommerce-3546296__340.jpg" alt="Bangalore Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="https://cdn.pixabay.com/photo/2015/12/08/10/38/online-shopping-1082727__340.jpg" alt="Channai Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <!-- <ng-template ngbSlide>  
              <img src="https://picsum.photos/200/300" alt="Jaipur Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="https://picsum.photos/200/300" alt="Mumbai Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>   -->
      </ngb-carousel>  
  </div>  

</div> 