<div class='container-fluid' >  
  <div class="row" >  
  </div>  
  <div class='col-12' style="text-align: center;">  
      <ngb-carousel>  
          <ng-template ngbSlide >  
              <img src="../../assets/images/electronic.jpg" alt="Delhi Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/electronics.jpg" alt="Bangalore Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/Home decor.jpg" alt="Channai Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/kids.jpg" alt="Jaipur Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../../assets/images/caresoul.png" alt="Mumbai Metro">  
              <div class="carousel-caption">  
              </div>  
          </ng-template>  
      </ngb-carousel>  
  </div>  

</div> 