<!-- Author
     Prathmesh Futane
     This is product description page -->




<div class="jumbotron  mt-3"  >
  <div class="container text-center bg-light card">
    <h1 class="display-6 card-body">Product Description</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="jumbotron  my-3" style="margin-top: 20px; cursor: pointer;" routerLink=""  *ngIf="!isDataLoaded">
  <div class="container text-center bg-light " style="width: 50%;">
    <h6 class="display-6 card-body text-white bg-danger">You have to select the item first</h6>
    <p class="lead"></p>
  </div>
</div>

<div style="display: flex; justify-content: space-around; align-items: center;" *ngIf="isDataLoaded"> 
  <div class="container  p-5" >
    <div class="row  bg-light payment" style="display: flex; justify-content: space-around; align-items: center;">
  
      <div style="display: flex; justify-content: space-around; align-items: center;">
        <div style="height: 300px; width: 300px;" class="image"> 
          <img height="300px" width="300px"
            src="http://localhost:8282/downloads/{{data['image']}}" alt="Card image cap">
        </div>
        <div class="information card" style="height: 500px; width: 500px;">
          <div class="card-body">
            <h6 class="title">{{data['productId']}}</h6>
            <h3 class="card-title">{{data['productName']}}</h3>
            <hr class="my-4" style="width: 50%;">
            <h5 class="content subtitle">Price {{data['unitPrice']}}</h5>
            <hr class="my-4" width="50%">
            <ngb-rating [(rate)]="currentRate" style="font-size: 20px;"></ngb-rating>
            <hr width="50%">
            <pre>Rate: <b>{{currentRate}}</b></pre>
            <h5>About this Item</h5>
            <h6 class="card-text">{{data['productDescription']}}</h6>
            <i class="fas fa-heart fa-2x text-right" (click)="wishlist(data)" style="cursor: pointer; color: red; text-align: right;"></i> 
            <div class="my-3" style="display: flex; justify-content: space-around; align-items: center;">
              <button class="btn btn-warning text-white" routerLink="">Back To Shopping</button>
              <button class="btn btn-primary" (click)="addToCart(data)">Add To Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

