.form-box {
  margin-bottom: 30px;
  width: 50%;
  margin-top: 30px;
  border: 2px solid grey;
  padding: 30px;
  /* background: linear-gradient(45deg, #50e3c2 50%, #2336b6 50%); */

  border: 2px solid orange;

}

h3 {
  color: orange;
}
