<!-- this is retailer registration -->

<div class="container form-box">
  <div class="container" style="text-align:center; ">
    <h3>Retailer Register</h3>
  </div>



  <form action="">



    <div class="form-group">
      <label for="ownerName">Owner Name</label>
      <i class="fa fa-user"></i><input type="text" class="form-control" name="ownerName" id="ownerName">
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <input type="text" class="form-control" name="company" id="company">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <label for="mobileNumber">Mobile Number</label>
      <input type="number" class="form-control" id="mobileNumber">
    </div>


    <button type="submit" class="btn btn-primary" >Register</button>
    <button type="reset" class="btn btn-danger m-3">Reset</button>
  </form>
</div>
