<div class="container"> 
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>Company</th>
                <th>Mobile</th>
                <th>Approve</th>
                <th>Reject</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of data">
            <td>{{i.ownerName}}</td>
            <td>{{i.company}}</td>
            <td>{{i.email}}</td>
            <td>{{i.retailerStatus}}</td>
            <td>{{i.mobileNumber}}</td>
           
            <td><button class="btn btn-primary" (click)="approve(i)" >Approve</button></td>
            <td><button class="btn btn-primary" (click)="reject(i)">Reject</button></td>
        </tbody>
        
    </table>
</div>

