<div class="container"> 
    <table>
        <thead>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>company</th>
                <th>For Approve</th>
                <th>For Delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let i of data">
            <td>{{i.ownerName}}</td>
            <td>{{i.company}}</td>
            <td>{{i.email}}</td>
            <td>{{i.retailerStatus}}</td>
            <td>{{i.mobileNumber}}</td>
            <td>{{i.revenue}}</td>
            <td><button class="btn btn-primary" >Approve</button></td>
            <td><button class="btn btn-primary" >Reject</button></td>
        </tbody>
        
    </table>
</div>

