  <div class="container-fluid" >
    <div class="row">

      <div class="col-sm">
        <i class="fa fa-mobile fa-6x"></i>
        <a class="container all-product" routerLink="/products"><br/>
          All Products
        </a>
      </div>

      <div class="col-sm category" >
        <div class="container "  *ngFor="let i of data">
          <div class="content individual-category" (click)="getProductById(i)">
            <h3>{{i['name']}}</h3>
          </div>
        </div>
      </div>

     

    </div>
  </div>
