  <div class="container-fluid bg-light " >
    <div class="row  " >

      <!-- <div class="col-sm-3 col-md-4 col-lg-4">

      </div> -->

      <div class="col-sm-3 col-md-4 col-lg-4 category" style="display: flex; justify-content: space-between; align-items: center;" >
        <div style="display: block;">
          <i class="fa fa-globe fa-3x globe" routerLink="/products" style="cursor: pointer; width: 50px;"></i>
          <h6>Products</h6>
        </div>
        
        <div class="container " *ngFor="let i of data">
          <div class="content individual-category" (click)="getProductById(i)">
            <h5>{{i['name']}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>



