<div class="container-fluid">
  <div class="container-fluid" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
    <div class="row">

      <div class="col-sm">
        <i class="fa fa-mobile fa-6x"></i>
        <a class="container all-product" routerLink="/products"><br/>
          All Products
        </a>
      </div>

      <div class="col-sm">
        <i class="fa fa-mobile fa-6x"></i>
        <div class="container">
          Mobile
        </div>
      </div>

      <div class="col-sm">
        <i class="fa fa-user fa-6x"></i>
        <div class="container">
          Electronics
        </div>
      </div>

      <div class="col-sm">
        <i class="fa fa-laptop fa-6x"></i>
        <div class="container">
          Laptop
        </div>
      </div>

      <div class="col-sm">
        <i class="fa fa-home fa-6x"></i>
        <div class="container">
          Furniture
        </div>
      </div>

    </div>
  </div>
</div>
