.all-product :hover {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.individual-category {
  border: 2px solid grey;
  padding: 15px;
  cursor: pointer;
  transform: scale(1.1);
  border: 1px solid grey;


}
