.all-product :hover {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

}

.individual-category {
  padding: 10px;
  cursor: pointer;
}

.individual-category:hover {
  transform: scale(1.1);
  color: rgb(105, 105, 230);
  transition: 0.5s;
}

.globe :hover {
  transform: scale(1.1);
  color: rgb(105, 105, 230);
  transition: 0.5s;
}

h5 {
  text-transform: capitalize;
}

i {
  margin-left: 10px;
}
