<div class="container">
  <!-- first -->
  <div class="row" style="display: flex; justify-content: space-around; align-items: center;">

    <div class="col-lg-3 col-md-3 col-sm-12">
      <!-- <div class="card " style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Prathmesh Futane</h5>
            
          </div>
        </div> -->
    </div>

    <!-- second -->
    <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 20px;;">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Retailer Name</h5>
          <div class="text-center">
            <i style="margin-left: 30px;" class=" text-center fa fa-user fa-5x"></i>
            <i class="fad fa-user-crown"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<hr class="my-4">


<div class="container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro saepe consectetur eum eaque, quis sapiente enim,
  ratione inventore assumenda asperiores quo aliquam nesciunt tenetur esse vero provident, cum earum. Cupiditate eum,
  repellendus facere modi ut placeat eveniet dolorum molestiae impedit dolores veritatis quas tenetur necessitatibus vel
  expedita blanditiis voluptatibus earum?
</div>

<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>

<div class="mt-5 container">
  <input type="checkbox" class="mr-5" name="accept" id="accept">
  <label for="accept" class="m-2">Accept Terms and Conditions</label>
</div>

<div class="container">
  <button class="btn btn-primary">Confirm</button>
</div>





<div class="container" style="width: 50%;">
    <label for="cars" style="margin-top: 10px; margin-bottom: 10px;">Choose a Category:</label>

    <select [(ngModel)]="id" class="form-select" style="margin-top: 10px; margin-bottom: 10px;" aria-label="Default select example">
        <option *ngFor="let i of data"  [value]="i.categoryId">{{i['name']}}</option> 
       
      </select>
      id is : {{id}}
</div>

<!-- ---------------------------retailer add product------------------------------ -->










<div class=" container  mb-3" style="display: flex; justify-content: center; align-items: center;">


  <div style="width: 50%; border: 2px solid orange; padding: 30px; ">
    <!-- form -->
    <form>



      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="product.productName">
      </div>


      <!-- <select [(ngModel)]="id" class="form-select" style="margin-top: 10px; margin-bottom: 10px;" aria-label="Default select example">
        <option *ngFor="let i of data" [value]="i['id']">{{i['id']}} {{i['title']}}</option>
       
      </select>
      id is : {{id}} -->

      



      <div class="form-group">
        <label for="productDetails">Product Details</label>
        <input type="text" class="form-control" id="productDetails" name="productDetails" [(ngModel)]="product.productDescription">
      </div>


      <div class="form-group">
        <label for="quantity">Stock</label>
        <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="product.stock">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" [(ngModel)]="product.unitPrice">
      </div>


      <button type="submit" class="btn btn-primary" (click)="addProduct()">Register</button>
      <button type="reset" class="btn btn-danger m-3">Reset</button>


    </form>

  </div>
  

</div>

 
<div class="container text-center" style="width: 50%;" >
  <form >
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" name="image" id="image" [(ngModel)]="product.image">
    </div>

    <button class="btn btn-primary">Add Image</button>
    </form>
</div>
