<!--This is retailer Homepage-->

<!-- Author
     Jeshma M
     This is the Homepage of retailer
-->
<button class="btn btn-primary" (click)="getProductByRetailerId()">View My Products</button>

<div class="container">
  <!-- first -->
  <div class="row" style="display: flex; justify-content: space-around; align-items: center;">

    <div class="col-lg-3 col-md-3 col-sm-12">
      <!-- <div class="card " style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center">Prathmesh Futane</h5>
            
          </div>
        </div> -->
    </div>

    <!-- second -->
    <div class="col-lg-3 col-md-3 col-sm-12" style="padding: 20px;;">
      <div class="card " style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Retailer Name</h5>
          <div class="text-center">
            <i style="margin-left: 30px;" class=" text-center fa fa-user fa-5x"></i>
            <i class="fad fa-user-crown"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<hr class="my-4">


<div class="container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro saepe consectetur eum eaque, quis sapiente enim,
  ratione inventore assumenda asperiores quo aliquam nesciunt tenetur esse vero provident, cum earum. Cupiditate eum,
  repellendus facere modi ut placeat eveniet dolorum molestiae impedit dolores veritatis quas tenetur necessitatibus vel
  expedita blanditiis voluptatibus earum?
</div>

<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>
<div class="container">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi rem voluptatibus earum corrupti quae dicta quisquam
  quibusdam illo dolore doloribus, suscipit dignissimos praesentium velit molestiae quo repudiandae, vel vitae
  recusandae minus. Incidunt corrupti delectus fugit expedita in sit perferendis dolor laudantium eum ea, nostrum
  sapiente quasi alias dicta saepe ratione.
</div>

<div class="mt-5 container">
  <input type="checkbox" class="mr-5" name="accept" id="accept">
  <label for="accept" class="m-2">Accept Terms and Conditions</label>
</div>

<div class="container">
  <button class="btn btn-primary">Confirm</button>
</div>





<div class="container" style="width: 50%;">
  <label for="cars" style="margin-top: 10px; margin-bottom: 10px;">Choose a Category:</label>

  <select [(ngModel)]="id" class="form-select" style="margin-top: 10px; margin-bottom: 10px;"
    aria-label="Default select example">
    <option *ngFor="let i of data" [value]="i.categoryId">{{i['name']}}</option>
  </select>

</div>

<!-- ---------------------------retailer add product------------------------------ -->




<div class=" container  mb-3" style="display: flex; justify-content: center; align-items: center;">


  <div style="width: 50%; border: 2px solid orange; padding: 30px; ">
    <!-- form -->
    <form (ngSubmit)="addProduct()">



      <div class="form-group">
        <label for="productName">Product Name</label>
        <input type="text" class="form-control" required name="productName" id="name" [(ngModel)]="product.productName"
          #productName="ngModel">
        <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="alert alert-danger">
          <div *ngIf="productName.errors.required">
            Product Name is required.
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="productDetails">Product Details</label>
        <input type="text" class="form-control" id="name" required name="productDetails"
          [(ngModel)]="product.productDescription" #productDescription="ngModel">
        <div *ngIf="productDescription.invalid && (productDescription.dirty || productDescription.touched)"
          class="alert alert-danger">
          <div *ngIf="productDescription.errors.required">
            Product Description is required.
          </div>
        </div>


        <div class="form-group">
          <label for="stock">Stock</label>
          <input type="number" class="form-control" id="number" required name="stock" [(ngModel)]="product.stock "
            #stock="ngModel">
          <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger">
            <div *ngIf="stock.errors.required">
              Stock is required.
            </div>
          </div>

          <div class="form-group">
            <label for="unitPrice">Price</label>
            <input type="number" class="form-control" id="number" required name="unitPrice"
              [(ngModel)]="product.unitPrice" #unitPrice="ngModel">
            <div *ngIf="unitPrice.invalid && (unitPrice.dirty || unitPrice.touched)" class="alert alert-danger">
              <div *ngIf="unitPrice.errors.required">
                Price is required.
              </div>
            </div>
         
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="reset" class="btn btn-danger m-3">Reset</button>

          </div>

        </div>
       

        <div class="container text-center" style="width: 50%;">
          <form (ngSubmit)="setImage()">
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" class="form-control" name="image" (change)="onFileChange($event)">
            </div>

            <button type="submit" class="btn btn-primary">Add Image</button>
          </form>
        </div>


        <!-- <div class="container m-5">
  <button class="btn-btn-success" (click)="displayAll()">Display all images</button>
</div> -->
</div>
<div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let info of data " ></div>
<div class="card" style="width: 100%;">
  <div class="image" style="text-align: center;">
      <img height="100%"  width="100%" class="card-img-top img" src="http://localhost:8282/downloads/{{info['image']}}"  alt="Card image cap">

  </div>
  <div class="card-body">
      <span class="title">{{info['productId']}}</span>
    <h5 class="card-title">{{info['productName']}}</h5>
    <h5 class="card-title">{{info['stock']}}</h5>
    <p class="card-text">{{info['productDescription']}}</p>
    <div class="content subtitle">Price {{info['unitPrice']}}</div>
</div>
</div>