<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">webrash</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" style="display: flex;" id="navbarSupportedContent">

      
        <input width="100%" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchValue"
        [(ngModel)]="searchValue" list="search-list">

        
        <i class="fa fa-search fa-2x" (click)="search()" routerLink="/search-by-keyword"></i>
     
       
        

        <!-- <select >
          <option  >
              {{i['title']}} {{i['id']}}
          </option>
      </select>
      
      id you selected is : {{id}} -->
      


      <div class="nav-item">
        <span class="nav-link" routerLink="/dashboard">
          <span><i class="fa fa-user fa-2x"></i></span>
        </span>
      </div>

      <div>
        <button class="btn btn-primary" (click)="clearData()">logout</button>
      </div>

      <form class="d-flex ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="nav-link " aria-current="page" routerLink="/login">
              
              <button class="btn btn-primary">login</button>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">
              <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </form>

    </div>
  </div>
</nav>
