.form-box {
  margin-top: 30px;
  border: 2px solid grey;
  padding: 30px;
}

a {
  color: black !important;
}

a:hover {
  color: rgb(35, 35, 231) !important;
  font-size: 17.5px;
  transition: all 0.9s;
}
