
<div class="container">
  <div class="container">
    <h2>Your Products</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Product Id</th>
          <th>Name</th>
          <th>Description </th>
          <th>Unit Price</th>
          <th>Update Quantity</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of data">

          <th style="height: 100px; width: 100px;">
            <img height="100%" width="100%" class="card-img-top" src="http://localhost:8282/downloads/{{info['image']}}"
              alt="Card image cap">
          </th>
          <th>{{info['productId']}}</th>
          <th>{{info['productName']}}</th>
          <th>{{info['productDescription']}}</th>
          <th>{{info['unitPrice']}}</th>
          <th><input type="text" name="stock" value="{{info['stock']}}" #stock (keyup)="updateStock(stock.value,info)">
          </th>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <button style="margin-bottom: 20px;" class="btn btn-primary my-5" routerLink="/retailer-homepage" >Back To Home Page</button>
</div>
