<!-- Author
     Prathmesh Futane
     Add to cart Page -->

<div class="jumbotron ">
  <div class="container bg-light my-5 card text-center" *ngIf="!isDataLoaded">
    <div class="card-body">
      <h1 class="display-6">cart is empty</h1>
      <p class="lead">Buy something</p>
      <button class="btn btn-primary" routerLink="">Back To Shopping</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="container" *ngIf="isDataLoaded">
    <h2>Your Cart</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Unit Price</th>

          <th>Delete</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let info of data" >
          <th style="height: 100px; width: 100px;">
            <img height="100%" width="100%" class="card-img-top"
              src="http://localhost:8282/downloads/{{info['product']['image']}}" alt="Card image cap">
          </th>
         
          <th style="height: 100px; width: 400px;">{{info['product']['productName']}}</th>
          <th>{{info['product']['productDescription']}}</th>

          <th>
            <input type="text" name="quantity" value="{{info['quantity']}}" #quantity (keyup)="updateQuantity(quantity.value, info)">
          </th>
          <th>{{info['product']['unitPrice']}}</th>
          <th style="cursor: pointer;" (click)="deleteCartItem(info)"><i class="fa fa-trash-alt fa-2x"></i></th>
        </tr>
      </tbody>
    </table>

    <div class="container" style="margin-bottom: 20px;display: flex; align-items: center; justify-content: space-between;">
      <div  >
        <button class="btn btn-warning" style="color: white;" routerLink="" >Back To Shopping</button>
      </div>

      <div >
        <!-- <button class="btn btn-warning" style="color: white;" routerLink="/order-details"  (click)="placeOrder()">Proceed To Buy</button> -->
        <button class="btn btn-warning" style="color: white;"  (click)="placeOrder()">Proceed To Buy</button>
      </div>
    </div>
  </div>
</div>
