  <div class=" container  mb-3" >
    <div class="row " >
  
  
      <div class="col-md-6 "  style="margin-top:30px; display: flex; justify-content: center; border: 2px solid grey; padding:20px;  width: 50%; align-items: center; " >
           <!-- form -->
           <form>

        

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
        
              <label for="cars" style="margin-top: 10px; margin-bottom: 10px;">Choose a Category:</label>
        
              <select class="form-select" style="margin-top: 10px; margin-bottom: 10px;" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
        
              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" class="form-control" name="image" id="image">
              </div>
        
            
        
              <div class="form-group">
                <label for="productDetails">Product Details</label>
                <input type="text" class="form-control" id="productDetails"  name="productDetails"> 
              </div>
              
        
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity">
              </div>
        
              <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price">
              </div>
              
              
              <button type="submit" class="btn btn-primary" routerLink="/login" >Register</button>
              <button type="reset" class="btn btn-danger m-3">Reset</button>
           
              
        </form>
        
      </div>
  
  
  
      <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
        <div class="content1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia quidem dolorem consequuntur, reiciendis incidunt, aspernatur mollitia, dignissimos atque animi quo nihil cupiditate tempora. Voluptate doloremque temporibus consequatur inventore at minus, totam maxime non quo explicabo libero tempore consequuntur corrupti deserunt provident mollitia repellendus culpa similique error reiciendis unde nisi?
        </div>
       
      </div>

    </div>
  </div>
  


















  