<div class="container card " style="width: 50%; margin-top: 100px; margin-bottom: 100px;">
    <div class="form-group card-body">
        <label for="exampleInputEmail1" class="my-2">Email address</label>
        <input name="email" [(ngModel)]="customer.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>

      <div class="content text-center">
        <button class="btn btn-primary my-3" (click)="sendOTP()" >Send OTP</button>
      </div>

      
      
</div>


<div *ngIf="isValidCustomer"  class="container card " style="width: 50%; margin-top: 100px; margin-bottom: 100px;">
    <div class="form-group card-body">
        <label for="OTP" class="my-2">Enter OTP</label>
        <input name="OTP" [(ngModel)]="OTP" type="number" class="form-control" id="OTP" aria-describedby="emailHelp" placeholder="Enter OTP">
      </div>

      <div class="content text-center">
        <button class="btn btn-primary my-3" (click)="checkOTP()">Enter OTP</button>
      </div>
</div>