<!-- Author
     Prathmesh Futane
     This is search by keyword page -->

<div class="container mt-4">
    <div class="row" >
        
        <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let info of data " >
            <div class="card" style="width: 100%;">
                <div class=" image" style="height:300px; width:300px;text-align: center;">
                    <img  (click)="productDescription(info)" height="100%"  width="100%" class="card-img-top img" src="http://localhost:8282/downloads/{{info['image']}}"  alt="Card image cap" style="cursor: pointer;">

                </div>
                <div class="card-body">
                    <span class="title">{{info['productId']}}</span>
                  <h5 class="card-title">{{info['productName']}}</h5>
                  <h5 class="card-title">{{info['stock']}}</h5>
                  <p class="card-text">{{info['productDescription']}}</p>
                  <div class="content subtitle">Price {{info['unitPrice']}}</div>
                  <!-- select quantity -->

                  <!-- <select [(ngModel)]="id" name="id" class="form-select" style="margin-top: 10px; margin-bottom: 10px;" aria-label="Default select example">
                    <option *ngFor="let i of quantity"  [value]="i.QuantityId">{{i.totalCount}}</option> 
                    
                </select> -->

                

                  
                  <!-- <button  class="btn btn-primary" style="margin-left:15px;" (click)="mycart(i)" >Add to Cart</button> -->
                  <!-- <button (click)="addToCart(info)"  class="btn btn-primary" style="margin-left:15px;"  >Add to Cart</button> -->
                
                
                
                </div>
            </div>
        </div>
    </div>
</div>